<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hbs</title>
</head>
<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: bordered;
  width: 100%;
}
td,h1 {
  text-align: center;
}

</style>
<body>

    <h1><u><b>Online Assesment- III</b></u></h1>
    <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Course Code</th>
    <th>Title</th>
    <th>L T P </th>
    <th>Credit</th>
  </tr>
  <tr>
    <td>Harpreet</td>
    <td>CAP 918</td>
    <td>Ionic</td>
    <td>2 0 3 </td>
    <td>4</td>
  </tr>
  <tr>
    <td>Harpreet</td>
    <td>CAP 441</td>
    <td>Current trends</td>
    <td>3 0 0 </td>
    <td>3</td>
  </tr>
   <tr>
    <td>Harpreet</td>
    <td>CAP 916</td>
    <td>Bootstrap</td>
    <td>0 2 3 </td>
    <td>4</td>
  </tr>
  <tr>
    <td>Harpreet</td>
    <td>FRN 114</td>
    <td>French</td>
    <td>0 3 0</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Harpreet</td>
    <td>CAP 438</td>
    <td>Software Testing</td>
    <td>2 3 0</td>
    <td>4</td>
  </tr>
</table>
<br><br><br><br><br<br><br><br><br>
{{>footer}}
</body>
</html>